<h1>This is the show template <%= params[:id]%></h1>

  <p><%= @post.title %></p>
  <p><%= @post.body %></p>

  <p><%= link_to "edit", edit_post_path(@post) %> |

  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this post"} %></p>


    <h2> All Comments:</h2>

    <%= render @post.comments %>



  <h1> Leave a Comment </h1>

  <%= form_for [@post, @post.comments.build] do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>


    <%= f.label :body %><br>
    <%= f.text_area :body %><br>

    <%= f.submit %>

  <% end %>

  <h1> <%= link_to "back", posts_path %> </h1>


